html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;
}
*:before, *:after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #03020e;
    font-family: 'Lucida Sans', sans-serif;
    overflow: hidden;
}

body:before {
    content: "";
    position: absolute;
    inset: 40% -60% 0 -60%;
    background-image: radial-gradient(ellipse at center, #2f117c 0%, #03020e 50%);
    opacity: 0.4;                                                                                   /*First*/
}

.glow-button {
    --button-background: #09041e;
    --button-color: #fff;
    --button-shadow: rgba(33, 4, 104, 0.2);
    --button-shine-left: rgba(120, 0, 245, 0.5);
    --button-shine-right: rgba(200, 148, 255, 0.65);
    --button-glow-start: #B000E8;
    --button-glow-end: #009FFD;
    -webkit-appearance: none;
    -moz-appearance: none;
        appearance: none;
    
    outline: none;
    border: none;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 10px;
    position: relative;
    line-height: 24px;
    cursor: pointer;
    color: var(--button-color);
    background: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 8px 20px var(--button-shadow);
    z-index: 1;
}

.glow-button .gradient { 
    position: absolute;
    inset: 0;
    border-radius: inherit;

    overflow: hidden;                                                   
    -webkit-mask-image: -webkit-radial-gradient(white, black);      
    transform: scaleY(1.02) scaleX(1.005) rotate(-0.35deg);             
}

.glow-button span {
    z-index: 1;
    position: relative;
    display: block;
    padding: 10px 0;
    width: 132px;
    border-radius: inherit;
    background-color: var(--button-background);
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);      
}

.glow-button .gradient:before {
    background: linear-gradient(90deg, var(--button-shine-left), var(--button-shine-right));
    
    content: "";
    position: absolute;
    
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 100%;
    border-radius: 50%;
    
    
    transform: scale(1.05) translateY(-44px) rotate(0deg) translateZ(0);
    animation: rotate linear 2s infinite;
}


@keyframes rotate {
    to {
    transform: scale(1.05) translateY(-44px) rotate(360deg) translateZ(0);
}
}

.glow-button:hover {
    --button-glow-opacity: 1;
    --button-glow-duration: .25s;
}

.glow-button span:before {
    content: "";
    position: absolute;
    background-color: var(--button-glow, transparent);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    left: -16px;
    top: -16px;
    transform: translate(var(--pointer-x, 0px), var(--pointer-y)) translateZ(0);
    opacity: var(--button-glow-opacity, 0);
    transition: opacity var(--button-glow-duration, 0.5);
    filter: blur(20px);
}